<div class="intro-page">

    <div layout="row" layout-align="center">
        <div flex-xs flex-gt-xs="60" layout="column">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ vm.data.competitionTitle }}</span>
                        <span class="md-subtitle">{{ vm.data.competitionSubTitle }}</span>
                    </md-card-title-text>
                </md-card-title>

                <img src="../../images/intro.jpg"
                     alt="Washed Out"/>

                <md-card-content>

                    <div>
                        <h4>General Rules</h4>
                        <ul>
                            <li>
                                Ensure you have an active a steady internet connection while appearing for the Quiz.
                            </li>
                            <li>
                                Quiz will be combination of 32 questions based on interest selected by you, It has a time limit of 10 minutes to complete all 32 Questions.
                            </li>
                            <li>
                                After 10 minutes quiz will be auto-submitted.
                            </li>
                            <li>
                                Quizzer needs to finish all 32 Question and complete Quiz.
                            </li>
                            <li>
                                Quiz will not allow you to go back and change your answer.
                            </li>
                            <li>
                                It will not allow you to save and finish at a later date /time.
                            </li>
                            <li>
                                The web quiz is an experiential quiz, questions might be asked based on an Image, Audio Clip or Visual Clips.(Optional)
                            </li>
                        </ul>
                        <br>
                        <h4>Winning Criteria</h4>
                        <ul>
                            <li>
                                Maximum questions answer in the Minimum Time
                            </li>
                            <li>
                                Top performers PAN India will be eligible to participate for Edelweiss Brain Bout Season 2- India Grand Finale.
                            </li>
                        </ul>






                    </div>

                    <div layout="row" layout-align="center">
                        <md-button ng-click="vm.startDemoQuiz()" class="md-raised md-primary bigfab" aria-label="Use Android">
                            START
                        </md-button>
                    </div>

                </md-card-content>
                <md-card-actions layout="row" layout-align="center">

                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>

