<div class="intro-page">

    <div layout="row" layout-align="center">
        <div flex-xs flex-gt-xs="60" layout="column">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ vm.data.competitionTitle }}</span>
                        <span class="md-subtitle">{{ vm.data.competitionSubTitle }}</span>
                    </md-card-title-text>
                </md-card-title>


                <img src="../../images/intro.jpg"
                     alt="Washed Out"/>

                <md-card-content>

                    <div ng-bind-html="vm.data.competitionText">

                    </div>
                    <br>
                    <div layout="row" layout-align="center">
                        <div>
                        <div class="md-title" layout="row" layout-align="center">Important Point!</div>
                            <div>Please take the <a href="/introductionDemo" class="md-button md-primary">warm up quiz</a> before you start</div>
                        </div>
                    </div>
                    <div layout="row" layout-align="center">
                        <md-button ng-click="vm.startQuiz()" class="md-raised md-primary bigfab"
                                   aria-label="Use Android">
                            START
                        </md-button>
                    </div>

                </md-card-content>
                <md-card-actions layout="row" layout-align="center">

                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>

