<md-toolbar class="transbg">
    <div class="md-toolbar-tools">

        <div class="img-container">
            <img src="images/company-logo.png" ng-click="vm.show_dashbaord()"/>
        </div>
        <h2 flex md-truncate>BRAIN BOUT</h2>

        <div>
            <md-button aria-label="TimeLeft">
                <span class="md-headline">
                    <timer ng-hide="vm.quizTimer==1" countdown="vm.quizTimer" max-time-unit="'hour'" interval="1000" autostart="false">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                </span>
            </md-button>
            <span>
                <!--<md-icon width="5" md-svg-src="images/account.svg" ng-hide="vm.username==''"></md-icon>-->
                <span class="username">{{ vm.username }}</span>
                <md-icon width="5" md-svg-src="images/logout.svg" ng-hide="vm.username==''"
                         class="logout_btn" title="Logout" ng-click="vm.logout()"></md-icon>
            </span>
        </div>
    </div>
</md-toolbar>
