.img-container{
    height:100%;
    padding:10px;
    img{
        height: 100%;
    }
}

md-toolbar.transbg{
    background: transparent;
}
.username{padding: 4px; font-size: 14px; font-weight: 600;font-family: 'Open Sans', sans-serif;}
.logout_btn{cursor: pointer;}
.logout_btn svg{fill: #D84B49;}
