<md-toolbar>
    <div class="md-toolbar-tools">

        <div class="img-container">
            <img src="images/company-logo.png" />
        </div>
        <h2 flex md-truncate>BRAIN BOUT</h2>

        <md-button aria-label="TimeLeft">
            <span class="md-headline">
                <timer ng-hide="vm.quizTimer==''" countdown="10" max-time-unit="'hour'" interval="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
            </span>
        </md-button>

        <md-button aria-label="User Name" >

            <md-icon width="5" md-svg-src="images/account.svg" ng-hide="vm.username==''"></md-icon> <span>{{ vm.username }}</span>
        </md-button>
    </div>
</md-toolbar>
