<div class="home-page">

    <div class="form-content">

        <div layout="row" layout-align="center">
            <div flex-xs flex-gt-xs="35" layout="column">

                <md-card>

                        <img src="../../images/competition_logo.png" flex-sm flex-gt-sm="30" layout="column" class="img-responsive"
                             alt="Washed Out"/>


                    <md-card-content>

                        <div layout-align="center" ng-show="vm.status == 1" class="warn_message">{{ vm.message }}</div>
                        <form data-ng-submit="vm.handleSubmit()" id="login_form">


                            <md-input-container class="md-block">
                                <label>COMPANY EMAIL ADDRESS</label>
                                <input ng-model="vm.email" type="email" required name="j_username"/>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>PASSWORD</label>
                                <input ng-model="vm.password" type="password" required name="j_password">
                            </md-input-container>

                            <div layout="row" layout-align="center">
                                <md-button type="submit" class="md-raised md-primary bigfab" aria-label="Use Android">
                                    ENTER
                                </md-button>
                            </div>


                        </form>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <span class="md-subheader">Not registered?</span>
                        <md-button type="button" class="md-primary" aria-label="Use Android"
                                   ng-click="vm.gotoRegister()">
                            SIGN UP
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

    </div>
</div>

