
    .instruction-head {
        margin-top: 10px;
        text-align: center;
    }

md-card img{
    margin:0 auto;
}
.warn_message{background-color: #ffbb33; font-size:14px; padding: 8px; border-radius: 3px;font-family: 'Open Sans',sans-serif;}
