
    .instruction-head {
        margin-top: 10px;
        text-align: center;
    }

md-card img{
    height: 100% !important;
}
.warn_message{background-color: #ffbb33; padding: 8px; font-size: 13px;}
