
<div class="question1-page"  layout="row" layout-align="end">

    <div layout="column" layout-fill>
        <md-toolbar class="md-accent">

            <div class="md-toolbar-tools">
                <h2 md-truncate flex>This is the currency of which Latin American Country?</h2>

                <md-button>
                    QUESTION 1 OF 10
                </md-button>
            </div>

        </md-toolbar>
        <md-content class="md-padding _md layout-xs-column layout-column" layout-xs="column" layout="column">

            <md-list ng-cloak="" class="listdemoListControls">

                <md-subheader class="md-no-sticky">Please select one answer</md-subheader>
                <md-list-item ng-repeat="topping in vm.toppings">
                    <p><label>{{vm.optionLabels[$index]}}.</label> {{ topping.name }} </p>
                    <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
                </md-list-item>

            </md-list>



        </md-content>

    </div>
</div>

<div layout="row" layout-align="end">
    <md-button type="submit" class="md-raised md-primary bigfab" aria-label="Use Android">
        NEXT
    </md-button>
</div>

