
<div class="question1-page"  layout="row" layout-align="end">

<div layout="column" layout-fill>
    <md-toolbar class="md-accent">

        <div class="md-toolbar-tools">
            <h2 md-truncate flex>{{vm.question}}</h2>

            <md-button>
                QUESTION {{vm.index}} of {{vm.length}}
            </md-button>
        </div>

    </md-toolbar>
    <md-content class="md-padding _md layout-xs-column layout-column" layout-xs="column" layout="column">

        <md-list ng-cloak="" class="listdemoListControls">

            <md-subheader class="md-no-sticky">Please select one answer</md-subheader>
                <md-radio-group ng-model="vm.optionSeq">
                    <md-list-item ng-repeat="label in vm.options">
                        <p><label>{{vm.optionLabels[$index]}}.</label> {{ label.name }} </p>
                        <md-radio-button class="md-secondary" value="{{label.seq}}" aria-label="{{ label.name }}"></md-radio-button>
                    </md-list-item>
            </md-radio-group>
        </md-list>



    </md-content>

</div>
</div>

<div layout="row" layout-align="end">
    <md-button type="submit" ng-click="vm.nextQuiz()" class="md-raised md-primary bigfab" aria-label="Use Android">
        {{vm.buttonLabel}}
    </md-button>
</div>

