.time {
    padding-right: 10px;

    b {
        font-size: 35px;
        color: white;

    }
    small {
        font-size: 12px;
        color: white;
    }

}

.welcome {

    b {
        font-size: 15px;
        padding-left: 200px;
        color: white;

    }
    small {
        font-size: 18px;
        padding-left: 170px;
        color: white;
    }

}

.instruction-head1 {
    margin-top: -148px;
    text-align: center;
}

.question1 {
    background-color: white;
    color: grey;
    text-align: center;
    border-radius: 5px;
}
.question1-page{
    md-card.transbg{
        background:transparent;
        md-subheader{
            background:transparent;
        }
        md-card-title{
            background: #fff;
        }
    }

    .half-transbg{
        background:rgba(255,255,255,0.8);
    }
}

.options {
    color: grey;
    padding-bottom: 50px;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-right: 300px;
    margin-left: 450px;
    font-size: large;

    label {
        margin-right: 15px;

    }
}
md-list-item.sel-item {
    background: #DE3641;
    color:white;
    // border color while unchecked
    md-radio-button.md-default-theme .md-off,
    md-radio-button .md-off {
        border-color: white;
    }
    // border color while checked
    md-radio-button.md-default-theme.md-checked .md-off,
    md-radio-button.md-checked .md-off {
        border-color: white;
    }
    // fill color while checked
    md-radio-button.md-default-theme .md-on,
    md-radio-button .md-on {
        background-color: white;
    }
    // ripple color when checking
    md-radio-group.md-default-theme .md-checked .md-ink-ripple,
    md-radio-group .md-checked .md-ink-ripple {
        color: white;
    }
    // focused halo color when checked
    md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,
    md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
        background-color: white;
    }
}
.quiz_image{margin: auto;}
.quiz_image img{max-width: 200px; max-height: 200px;}



