<div class="home-page">

    <div class="form-content">

        <div layout="row" layout-align="center">
            <div flex-xs flex-gt-xs="50" layout="column" class="flexobj">

                <md-card>

                    <div>
                        <img src="../../images/competition_logo.png" flex="25"  class="flexobj" class="img-responsive"
                             alt="Washed Out"/>


                    <md-card-title layout="row" layout-align="center" id="registration_header">
                        <span class="md-heading">REGISTRATION FORM</span>
                    </md-card-title>

                    <md-card-content>
                        <div layout-align="center" ng-show="vm.success == 1" class="message success_message">{{
                            vm.message }}
                        </div>
                        <div layout-align="center" ng-show="vm.success == 0" class="message warn_message">{{ vm.message
                            }}
                        </div>
                        <form name="registrationForm" ng-submit="registrationForm.$valid && vm.handleSubmit()"
                              novalidate>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>First name</label>
                                    <input ng-model="vm.userData.userVO.firstName" ng-required="true" name="firstName" ng-maxlength="50">
                                    <div ng-messages="registrationForm.firstName.$error" ng-messages-multiple>
                                        <div ng-message="required">First name is required</div>
                                        <div ng-message="maxlength">Maximum 50 characters allowed
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Last name</label>
                                    <input ng-model="vm.userData.userVO.lastName" ng-required="true" name="lastName" ng-maxlength="50">
                                    <div ng-messages="registrationForm.lastName.$error" ng-messages-multiple>
                                        <div ng-message="required">Last name is required</div>
                                        <div ng-message="maxlength">Maximum 50 characters allowed
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Company</label>
                                    <md-select ng-model="vm.userData.companySeq" ng-required="true" name="company"
                                               ng-change="vm.changeCompany()" ng-required="true">
                                        <md-option ng-value="company.corporateSeq"
                                                   ng-repeat="company in vm.companyList">
                                            <em>{{ company.corporateName }}</em>
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="registrationForm.company.$error">
                                        <div ng-message="required">Please select a company</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Location</label>
                                    <md-select ng-model="vm.userData.locationSeq" ng-required="true" name="location" ng-disabled="!registrationForm.company.$dirty">
                                        <md-option ng-value="location.seq" ng-repeat="location in vm.locationList">
                                            <em>{{ location.name }}</em>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div>
                                <md-input-container class="md-block">
                                    <input ng-model="vm.userData.userVO.email" type="email" placeholder="Email"
                                           ng-required="true" name="email" ng-pattern="emailFormat">
                                    <div ng-messages="registrationForm.email.$error" ng-messages-multiple>
                                        <div ng-message="required">Email is required</div>
                                        <div ng-message="pattern">Invalid email</div>
                                    </div>
                                </md-input-container>
                            </div>


                            <div>
                                <md-input-container class="md-block">
                                    <input ng-model="vm.userData.userVO.phoneNo" type="text" placeholder="Mobile Number"
                                           ng-required="true" name="phoneNo" maxlength="10" minlength="10" ng-pattern="mobileFormat">
                                    <div ng-messages="registrationForm.phoneNo.$error" ng-messages-multiple>
                                        <div ng-message="required">Mobile number is required</div>
                                        <div ng-message="pattern">Valid 10 digit mobile number required</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div>
                                <md-input-container class="md-block">
                                    <input ng-model="vm.userData.password" type="password" placeholder="Password"
                                           required
                                           name="password" ng-minlength="8">
                                    <div ng-messages="registrationForm.password.$error" ng-messages-multiple>
                                        <div ng-message="required">This is required</div>
                                        <div ng-message="minlength">Password must be atleast 8 characters long</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <input ng-model="vm.userData.passwordConfirm" type="password"
                                           placeholder="Confirm Password" ng-required="true"
                                           name="confirmPassword" password-verify="{{vm.userData.password}}">
                                    <div ng-messages="registrationForm.confirmPassword.$error" ng-messages-multiple>
                                        <div ng-message="required">This is required</div>
                                        <div ng-message="passwordVerify">Password and confirm password should match
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>


                            <div>
                                <md-input-container class="md-block" flex="100">
                                    <label>Your interests (Select any 2)</label>
                                    <md-divider></md-divider>
                                    <md-checkbox ng-show="false" name="genre" ng-model="vm.userData.genreSeq"
                                                 ng-required="true" aria-label="disabled"></md-checkbox>
                                    <md-list-item ng-repeat="genre in vm.genreList">
                                        <md-checkbox ng-click="vm.onGenreChange(genre.seq)"
                                                     ng-value="genre.seq"
                                                     ng-disabled="(vm.selected && !(vm.tempGenreList.indexOf(genre.seq) > -1))"
                                                     aria-label="genre.name">
                                        </md-checkbox>
                                        {{ genre.name }}
                                    </md-list-item>
                                    <div ng-messages="registrationForm.genre.$error" ng-if="registrationForm.genre.$dirty">
                                        <div ng-message="required">Select 2 interests</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row" layout-align="center">
                                <md-button type="submit" class="md-raised md-primary bigfab" aria-label="Use Android">
                                    <md-icon width="5" md-svg-src="images/ring.svg" ng-show="vm.processing"></md-icon>
                                    <span ng-show="!vm.processing">Register</span>
                                </md-button>
                            </div>

                        </form>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <span class="md-subheader">Already Registered?</span>
                        <md-button type="button" class="md-primary" aria-label="Use Android" ng-click="vm.gotoLogin()">
                            SIGN IN
                        </md-button>
                    </md-card-actions>
                    </div>
                </md-card>
            </div>
        </div>

    </div>
</div>

