<div class="home-page">

    <div class="form-content">

        <div layout="row" layout-align="center">
            <div flex-xs flex-gt-xs="50" layout="column">

                <md-card>

                        <img src="../../images/competition_logo.png" flex-sm flex-gt-sm="25" class="img-responsive"
                             alt="Washed Out"/>


                    <md-card-title layout="row" layout-align="center" id="registration_header">
                        <span class="md-heading">REGISTRATION FORM</span>
                    </md-card-title>

                    <md-card-content>
                        <div layout-align="center" ng-show="vm.success == 1" class="message success_message">{{
                            vm.message }}
                        </div>
                        <div layout-align="center" ng-show="vm.success == 0" class="message warn_message">{{ vm.message
                            }}
                        </div>
                        <form name="registrationForm" ng-submit="registrationForm.$valid && vm.handleSubmit()"
                              novalidate>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>First name</label>
                                    <input ng-model="vm.userData.userVO.firstName" required name="firstName">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Last name</label>
                                    <input ng-model="vm.userData.userVO.lastName" ng-required="true" name="lastName">
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Company</label>
                                    <md-select ng-model="vm.userData.companySeq" ng-required="true" name="company"
                                               ng-change="vm.changeCompany()">
                                        <md-option ng-value="company.corporateSeq"
                                                   ng-repeat="company in vm.companyList">
                                            <em>{{ company.corporateName }}</em>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" ng-hide="vm.userData.companySeq == ''" flex-gt-sm>
                                    <label>Location</label>
                                    <md-select ng-model="vm.userData.locationSeq" ng-required="true" name="location">
                                        <md-option ng-value="location.seq" ng-repeat="location in vm.locationList">
                                            <em>{{ location.name }}</em>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>



                            <div>
                                <md-input-container class="md-block">
                                    <input ng-model="vm.userData.userVO.email" type="email" placeholder="Email"
                                           ng-required="true" name="email">
                                </md-input-container>
                            </div>


                            <div>
                                <md-input-container class="md-block">
                                    <input ng-model="vm.userData.userVO.phoneNo" type="text" placeholder="Phone Number"
                                           name="phoneNo">
                                </md-input-container>
                            </div>

                            <div>
                                <md-input-container class="md-block">
                                    <input ng-model="vm.userData.password" type="password" placeholder="Password"
                                           required
                                           name="password"
                                           ng-pattern="/^[a-zA-Z0-9]{8}$/">
                                    <div ng-messages="registrationForm.password.$error" ng-messages-multiple>
                                        <div ng-message="required">This is required</div>
                                        <div ng-message="pattern">Password must be alphanumeric and atleast 8 characters
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <input ng-model="vm.userData.passwordConfirm" type="password"
                                           placeholder="Confirm Password" ng-required="true"
                                           name="confirmPassword" password-verify="{{vm.userData.password}}">
                                    <div ng-messages="registrationForm.confirmPassword.$error" ng-messages-multiple>
                                        <div ng-message="required">This is required</div>
                                        <div ng-message="passwordVerify">Password and confirm password should match
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container class="md-block" flex="100">
                                    <label>Your interests</label>
                                    <md-select ng-model="vm.userData.genreSeq" ng-required="true" name="genre"
                                               multiple="{{false}}" ng-change="vm.changeGenre()">
                                        <md-option ng-value="genre.seq" ng-repeat="genre in vm.genreList">
                                            <em>{{ genre.name }}</em>
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                            </div>


                            <div layout="row" layout-align="center">
                                <md-button type="submit" class="md-raised md-primary bigfab" aria-label="Use Android">
                                    REGISTER
                                </md-button>
                            </div>

                        </form>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <span class="md-subheader">Already Registered?</span>
                        <md-button type="button" class="md-primary" aria-label="Use Android" ng-click="vm.gotoLogin()">
                            SIGN IN
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

    </div>
</div>

