.P8{padding:8px;}
.P16{padding: 16px;}
.competition_logo{max-height: 120px;width:100%;}
.competition_title{border-top:1px solid #EFEFEF;}
.competition_title span{font-size: 16px;}
.action_btn{font-size: 16px;letter-spacing: 1px;text-transform: none;
    margin:0px !important;
    width:100%;}
.action_group{margin: 0 !important;background-color: rgb(16,108,200);color: #ffffff}
.action_group .action_btn:first-child{border-bottom: 1px solid #3e3ee2;}
.event_timer svg{width: 80%;fill: #008000;}
.event_participant svg{width:80%;fill: #5e5ee8;}
.event_timer, .event_participant md-icon{margin-bottom: 4px;}
.time_left{padding: 4px 0px;}
.event_participated svg{fill: green;}
.headline_text{float: left;}
.event_participated{float: right;}
.event_participant md-icon{margin-bottom: 2px;}
.FL{float:left;}
.leader_card{padding: 0;margin: 0;width: 100%;}
.leader_card_content{padding:4px;}
.leader_card tbody {font-size: 14px;text-align: center;}
.leader_card table{width: 100% !important;}
.leader_card md-column{text-align: center;padding: 8px;}
