<md-content layout-xs="column" layout="row">
    <div flex-gt-sm="70" class="md-padding">
        <md-tabs md-dynamic-height flex layout="column" md-selected="selectedIndex" md-border-bottom md-autoselect>
            <md-tab flex layout="column" label="Live" layout-fill>
                <md-tab-label class="event_status">Live <span class="event_status_count">{{vm.currentCompetition_length}}</span></md-tab-label>
                <md-tab-body class="md-padding">
                    <div flex-xs="" flex-gt-xs="100" layout="row" layout-xs="column">
                        <div layout="row" class="full_layout" ng-show="vm.currentCompetition_length == 0">
                            <p>No competition to show</p>
                        </div>
                        <div layout="row" layout-sm="column" layout-align="space-around" class="full_layout" ng-hide="vm.loaded">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <md-card class="event_card" flex-gt-xs="30" ng-repeat="competition in vm.competitionList.currentCompetitionList">
                            <md-card-content class="competition_banner">
                                <img ng-src="../images/competition_logo.png" class="md-card-image competition_logo" alt="Brainbout" width="100">
                            </md-card-content>
                            <md-card-title class="P8 competition_title">
                                <md-card-title-text>
                                    <span class="md-headline">
                                        <div class="headline_text" title="{{ competition.competitionVO.competitionName }}">
                                            {{ competition.competitionVO.competitionName }}
                                        </div>
                                        <div class="event_participated" ng-if="competition.userStatus == 'submitted' || competition.userStatus == 'PARTICIPATED'">
                                            <md-icon md-svg-src="../../images/participated.svg"></md-icon>
                                        </div>
                                    </span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content class="P8" style="font-size: 13px">
                                <div class="event_timer">
                                    <md-icon md-svg-src="../../images/timer.svg"></md-icon>:&nbsp;
                                    <timer countdown="competition.competitionVO.timeLeft" max-time-unit="'day'" interval="1000">
                                        {{days}}days : {{hours}}Hours : {{minutes}}Mins : {{seconds}}Sec
                                    </timer>
                                </div>
                                <div class="event_participant">
                                    <md-icon md-svg-src="../../images/participant.svg"></md-icon>: {{ competition.competitionVO.participants }} participation(s)
                                </div>
                                <div class="time_left">
                                    <div class="FL">Your status: &nbsp;</div>
                                    <div class="FL" ng-switch on="competition.userStatus">
                                        <div ng-switch-when="submitted">
                                            Submitted
                                        </div>
                                        <div ng-switch-when="PARTICIPATED">
                                            <span ng-if="competition.userTimeLeft > 0">
                                                {{ vm.Math.floor(competition.userTimeLeft/60) }} mins {{ competition.userTimeLeft%60 }} secs left
                                            </span>
                                            <span ng-if="competition.userTimeLeft <= 0">
                                                Time out
                                            </span>
                                        </div>
                                        <div ng-switch-when="NP">
                                            Not participated
                                        </div>
                                        <div ng-switch-default>
                                            {{ --- }}
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="start" class="action_group">
                                <div class="FL" ng-switch on="competition.userStatus">
                                    <div ng-switch-when="submitted">
                                        <md-button class="action_btn" ng-click="vm.show_score(competition.competitionVO.competitionSeq)">My score</md-button>
                                    </div>
                                    <div ng-switch-default class="enter_action_btn">
                                        <md-button class="action_btn btn-border" ng-click="vm.enter_quiz(competition.competitionVO.competitionSeq, competition.userStatus)">Enter</md-button>
                                    </div>
                                </div>
                                <md-button class="action_btn" ng-click="vm.show_leaderboard(competition.competitionVO.competitionSeq)">Leaderboard</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
            </md-tab-body>
        </md-tab>
        <md-tab flex layout="column" layout-fill>
            <md-tab-label class="event_status">Upcoming <span class="event_status_count">{{vm.upComingCompetition_length}}</span></md-tab-label>
            <md-tab-body class="md-padding">
                <div flex-xs="" flex-gt-xs="100" layout="row" layout-xs="column">
                    <div layout="row" class="full_layout" ng-show="vm.upComingCompetition_length == 0">
                        <p>No competition to show</p>
                    </div>
                    <div layout="row" layout-sm="column" layout-align="space-around" class="full_layout" ng-hide="vm.loaded">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <md-card class="event_card" flex-gt-xs="30" ng-repeat="competition in vm.competitionList.upcomingCompetitionList">
                        <md-card-content>
                            <img ng-src="../images/competition_logo.png" class="md-card-image competition_logo" alt="Brainbout" width="100">
                        </md-card-content>
                        <md-card-title class="P8 competition_title">
                            <md-card-title-text>
                                <span class="md-headline">
                                    <div class="headline_text">
                                        {{ competition.competitionVO.competitionName }}
                                    </div>
                                    <div class="event_participated" ng-if="competition.userStatus == 'submitted' || competition.userStatus == 'PARTICIPATED'">
                                        <md-icon md-svg-src="../../images/participated.svg"></md-icon>
                                    </div>
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
            </md-tab-body>
        </md-tab>
            <md-tab flex layout="column" layout-fill>
                <md-tab-label class="event_status">Previous <span class="event_status_count">{{vm.pastCompetition_length}}</span></md-tab-label>
                <md-tab-body class="md-padding">
                    <div flex-xs="" flex-gt-xs="100" layout="row" layout-xs="column">
                        <div layout="row" class="full_layout" ng-show="vm.pastCompetition_length == 0">
                            <p>No competition to show</p>
                        </div>
                        <div layout="row" layout-sm="column" layout-align="space-around" class="full_layout" ng-hide="vm.loaded">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                        <md-card class="event_card" flex-gt-xs="30" ng-repeat="competition in vm.competitionList.pastCompetitionList">
                            <md-card-content>
                                <img ng-src="../images/competition_logo.png" class="md-card-image competition_logo" alt="Brainbout" width="100">
                            </md-card-content>
                            <md-card-title class="P8 competition_title">
                                <md-card-title-text>
                                <span class="md-headline">
                                    <div class="headline_text">
                                        {{ competition.competitionVO.competitionName }}
                                    </div>
                                    <div class="event_participated" ng-if="competition.userStatus == 'submitted' || competition.userStatus == 'PARTICIPATED'">
                                        <md-icon md-svg-src="../../images/participated.svg"></md-icon>
                                    </div>
                                </span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content class="P8" style="font-size: 13px">
                                <div class="event_timer">
                                    <md-icon md-svg-src="../../images/timer.svg"></md-icon>:&nbsp;
                                    Event closed
                                </div>
                                <div class="event_participant">
                                    <md-icon md-svg-src="../../images/participant.svg"></md-icon>: {{ competition.competitionVO.participants }} participation(s)
                                </div>
                                <div class="time_left">
                                    <div class="FL">Your status: &nbsp;</div>
                                    <div class="FL" ng-switch on="competition.userStatus">
                                        <div ng-switch-when="submitted">
                                            Submitted
                                        </div>
                                        <div ng-switch-when="NP">
                                            Not participated
                                        </div>
                                        <div ng-switch-default>
                                            {{ --- }}
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="start" class="action_group">
                                <div class="FL" ng-switch on="competition.userStatus">
                                    <div ng-switch-when="submitted">
                                        <md-button class="" ng-click="vm.show_score(competition.competitionVO.competitionSeq)">My score</md-button>
                                    </div>
                                </div>
                                <md-button class="" ng-click="vm.show_leaderboard(competition.competitionVO.competitionSeq)">Leaderboard</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-tab-body>
            </md-tab>
    </md-tabs>
    </div>
    <div flex-gt-sm="30" class="md-padding">

        <md-toolbar class="competition_header">
            <div class="md-toolbar-tools">
                <span class="md-flex competition_header_text">Leaderboard</span>
            </div>
        </md-toolbar>
        <div layout="row" layout-xs="column">
            <md-card class="leader_card">
                <md-card-content class="leader_card_content">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column><span>Rank</span></th>
                            <th md-column><span>Name</span></th>
                            <th md-column md-numeric><span>Score</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="row in vm.leaderboard">
                            <td md-cell>{{ $index + 1 }}</td>
                            <td md-cell>{{ row.name }}</td>
                            <td md-cell>{{ row.score }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="color: rgba(0,0,0,0.54); padding: 20px 0 40px; text-align: center;" ng-show="vm.leaderboard.length < 1">
                        <div style="padding: 10px;">There is no data for the leaderboard to display</div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
