<div class="intro-page">

    <div layout="row" layout-align="center">
        <div flex-xs flex-gt-xs="60" layout="column">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Choose a player</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content  layout="row" layout-align="center">

                    <div class="gridListdemoBasicUsage" flex-xs flex-gt-xs="80" >
                        <md-grid-list
                            md-cols="3"
                             md-row-height="1:1"
                            md-gutter="12px" md-gutter-gt-sm="8px" >


                            <md-grid-tile class="green" md-ink-ripple="#FFFFFF" ng-click="vm.selectPlayer(1)">
                               <img src="images/players/ali.jpg" >
                                <md-grid-tile-footer>
                                    <h3>Muhammad Ali <br><small>Speed, Defensive</small></h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>

                            <md-grid-tile class="yellow" md-ink-ripple="#FFFFFF" ng-click="vm.selectPlayer(2)">
                                <img src="images/players/brock_lesnar.jpg">
                                <md-grid-tile-footer>
                                   <h3>Brock Lesnar <br><small>Attack, Powerful</small></h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>

                            <md-grid-tile class="blue" md-ink-ripple="#FFFFFF" ng-click="vm.selectPlayer(3)">
                                <img src="images/players/bruce_lee.jpg">
                                <md-grid-tile-footer>
                                    <h3>Bruce Lee<br><small>All rounder</small></h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>

                            <md-grid-tile class="red" md-ink-ripple="#FFFFFF" ng-click="vm.selectPlayer(4)">
                                <img src="images/players/dara_singh.jpg">
                                <md-grid-tile-footer>
                                    <h3>Dara Singh<br><small>Powerful</small></h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>

                            <md-grid-tile class="orange" md-ink-ripple="#FFFFFF" ng-click="vm.selectPlayer(5)">
                                <img src="images/players/floyd_mayweather.jpg">
                                <md-grid-tile-footer>
                                    <h3>Floyd Mayweather<br><small>Attack, Record breaker</small></h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>

                            <md-grid-tile class="white" md-ink-ripple="#FFFFFF" ng-click="vm.selectPlayer(6)">
                                <img src="images/players/mike_tyson.jpg">
                                <md-grid-tile-footer>
                                    <h3>Mike Tyson<br><small>Quick, Defensive</small></h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>

                        </md-grid-list>
                    </div>

                </md-card-content>
                <md-card-actions layout="row" layout-align="center">

                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
